<nav class= "navi">
    <ul>
        <li class="subMenu"><a href="/">Inicio</a></li>
        <li class="subMenu"><a href="/IoT">IoT</a></li>
        <li class="subMenu">Programas fuente
            <ul>
                <li><a href="https://github.com/JoshuaHernandezAl/RaspberryPi4Programs/tree/main/BLINK">Blink</a></li>
                <li><a href="https://github.com/JoshuaHernandezAl/RaspberryPi4Programs/tree/main/TM1638">TM1638</a></li>
                <li><a href="https://github.com/JoshuaHernandezAl/RaspberryPi4Programs/tree/main/LCD">LCD16x2 I2C</a></li>
            </ul>
        </li>
        <li class="subMenu">Utilidades
            <ul>
                <li><a href="https://www.agelectronica.com/detalle.php?p=BAR-10UR">Barra de LED</a></li>
                <li><a href="https://articulo.mercadolibre.com.mx/MLM-644205760-modulo-tm1638-arduino-8-display-7-segmentos-led-botones-_JM#reco_item_pos=0&reco_backend=machinalis-seller-items-pdp&reco_backend_type=low_level&reco_client=vip-seller_items-above&reco_id=499bfdb9-7b72-491a-8522-4810bbea0959">TM1638</a></li>
                <li><a href="https://articulo.mercadolibre.com.mx/MLM-823850435-modulo-lcd-2x16-con-i2c-_JM#position=1&type=item&tracking_id=7efd7a65-2eec-4825-9739-53505b5c858e">LCD2x16 I2C</a></li>
            </ul>
        </li>
        <li class="subMenu2">Contactos
            <ul>
                <li><a href="https://www.facebook.com/IhokyHernandez/">Facebook</a></li>
                <li><a href="https://twitter.com/AlmarazIhoky">Twitter</a></li>
                <li><a href="https://www.udemy.com/user/josha-hernandez-almaraz/">Udemy</a></li>

            </ul>
        </li>
        <li class="subMenu">
            <a href="/montar">Montar pagina</a>      
        </li>
    </ul>
</nav>